.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    border-bottom: 1px solid #E9E9E9;
}

.headRight {
    display: flex;
    align-items: center;
    min-width: fit-content;
}


@media screen and (max-width: 1024px) {
    .wrap {
        flex-direction: column;
        padding: 20px 0;
        width: 100%;

        &.home {
            padding: 0;

            .headline1 {
                display: none;
            }
        }
    }

    .headRight {
        width: 100%;
    }
}