.overlay {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    max-width: 350px;
    width: 100%;
    padding: 40px;
    border-radius: 5px;
    background-color: #FFF;
    transform: translate(-50%, -50%);
}

.modalContent {
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #FFF;
    }

    &::-webkit-scrollbar-thumb {
        background: #626262;
        border-radius: 4px;
    }
}

.close {
    display: block;
    position: absolute;
    right: -17px;
    top: -17px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #FFF url(/img/common/icon_x.svg) no-repeat 50% 50%;
    background-size: 18px auto;
    transition: 0.2s background-color;
    cursor: pointer;
}


@media (min-width: 1200px) {
    .close:hover {
        background-color: #ebebeb;
    }
}


@media screen and (max-width: 1024px) {
    .modal {
        width: calc(100% - 30px);
    }

    .close {
        right: -10px;
    }
}