@keyframes animationUpDown1 {
    0% {
        transform: translateY(0) scale(0.9,0.9);
        opacity: 0.7;
    }
    50% {
        transform: translateY(20px) scale(1,1);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(0.9,0.9);
        opacity: 0.7;
    }
}

@keyframes animationUpDown2 {
    0% {
        transform: translateY(12px);
        opacity: 0.4;
        transform: scaleX(0.8);
    }
    50% {
        transform: translateY(0);
        opacity: 0.9;
        transform: scaleX(1.5);
    }
    100% {
        transform: translateY(12px);
        opacity: 0.4;
        transform: scaleX(0.8);
    }
}

.wrap {
    position: relative;
    z-index: 1;
    display: flex;
    min-height: 100vh;
}

.col1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 50px 50px 50px 0;
}

.signInBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

    .ttl {
        margin-bottom: 20px;
        font-size: 3.2rem;
        font-weight: 700;
        text-align: center;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px 65px 20px;
    background-color: #FFF;
    border-radius: 20px;

    &Logo {
        display: block;
        margin: 0 auto 20px auto;
        width: 200px;
        height: 200px;
        animation: animationUpDown1 5s ease infinite;
        transition: rotate 0.8s ease, scale 0.8s ease;

        &:hover {
            rotate: 180deg;
        }
    }

    &Oval {
        width: 100px;
        height: 30px;
        margin: 0 auto 20px auto;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        filter: blur(8px);   
        animation: animationUpDown2 5s ease infinite;
        transition: transform 0.8s ease;
    }

    &Ttl {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 1024px) {
    .intro {
        padding: 20px;
        
        &Logo {
            width: 100px;
            height: 100px;
        }

        &Oval {
            width: 50px;
            height: 20px;
            margin-bottom: 10px;
        }

        &Ttl {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .wrap {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .col1 {
        width: 100%;
        padding: 20px;
    }

    .signInBox {
        min-width: 300px;

        .ttl {
            display: none;
        }
    }

    .col2 {
        width: 100%;
        padding: 0;
    }

    .intro {
        background-color: transparent;
    }
}