.btn1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 12px 15px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
    background-color: var(--color-main);
    border: 0;
    appearance: none;
    outline: none;
    border-radius: 6px;
    caret-color: transparent;
    transition: 0.2s background-color;
    cursor: pointer;

    &:hover {
        background-color: #0077C8;
    }
}

.btnSave {
    min-width: 125px;
    padding: 12px 21px 11px;
    border-radius: 6px;
    background-color: #0095D5;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s opacity;

    &.size1 {
        min-width: 175px;
    }

    span {
        padding-left: 25px;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1;
        color: #FFF;
        background: url(/img/common/icon_save_1.svg) no-repeat;
        background-position: 0 calc(50% - 1px);
        background-size: 15px auto;
    }

    &.custom {
        margin-right: 40px;
    }
}

.btnCancel {
    min-width: 125px;
    padding: 12px 21px 11px;
    border-radius: 6px;
    background-color: #0095D5;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16);
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s opacity;

    &.size1 {
        min-width: 175px;
    }

    span {
        padding-left: 25px;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1;
        color: #FFF;
        background: url(/img/common/icon_cancel_1.svg) no-repeat;
        background-position: 0 calc(50% - 1px);
        background-size: 15px auto;
    }
}

.btnDelete {
    min-width: 125px;
    padding: 12px 21px 11px;
    border-radius: 6px;
    background-color: #FF5252;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s opacity;

    &.size1 {
        min-width: 175px;
    }

    span {
        padding-left: 22px;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1;
        color: #FFF;
        background: url(/img/common/icon_del_1.svg) no-repeat;
        background-position: 0 calc(50% - 1px);
        background-size: auto 15px;
    }
}

.btnAdd {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    min-width: max-content;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #0095D5;
    border: 0;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s opacity;

    &.size1 {
        min-width: 175px;
    }
}

@media screen and (min-width: 1025px) {
    .btnSave:hover {
       opacity: 0.8;
    }

    .btnDelete:hover {
        opacity: 0.8;
    }

    .btnCancel:hover {
       opacity: 0.8;
    }

    .btnAdd:hover {
        opacity: 0.8;
    }
}

@media screen and (max-width: 1024px) {
    .btnAdd {
        height: 34px;
        padding: 8px 16px;
        border-radius: 3px;
        font-size: 1.4rem;
    }
}