:root {
    --color-main: #009ADB;
    --color-text: #37474F;
    --color-title: #303030;

    --color-open: #FFF;
    --color-in-progress: #00A29A;
    --color-deploying: #4387B2;
    --color-releasing: #4387B2;
    --color-urgent: #FF5252;
    --color-stop: #c8c8c8;
    --color-close: #c8c8c8;
}

